body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:694px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:130px;
  top:91px;
  width:564px;
  height:519px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:564px;
  height:519px;
}
#u1 {
  position:absolute;
  left:2px;
  top:252px;
  width:560px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:160px;
  top:340px;
  width:220px;
  height:45px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
}
#u3 {
  position:absolute;
  left:2px;
  top:14px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
