#set($layout_template="_setting")
<div id="jCrumbs" class="breadCrumb module">
    <div>
	    <div>
		    <ul>
		        <li class="first">
		            <a href="#">
		                <i class="glyphicon glyphicon-home"></i>
		            </a>
		        </li>
		        <li>
		            <a href="#">用户设置</a>
		        </li>
		        <li class="last">用户密码修改</li>
		    </ul>
	    </div>
    </div>
</div>
<div class="container">
<div class="row">
    <div class="col-sm-12 col-md-12">
        <h3 class="heading">用户密码修改</h3>
        #if($!msg)<div class="alert #if($!isOk==0) alert-danger #else alert-info #end alert-login" style="margin:0">$!msg</div>#end
        <br/>
        <form class="form_validation_ttip" method="post" action="$homeModule.getTarget("doPassword.action")" novalidate="novalidate">
            <div class="formSep">
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <label>
                        	密码：<span class="f_req">*</span>
                        </label>
                        <input id="emPassword" name="emPassword" class="form-control" type="text">
                        <span class="help-block"></span>
                    </div>
                </div>
				<div class="row">
					<div class="col-sm-6 col-md-6">
                        <label>
							新密码：<span class="f_req">*</span>
                        </label>
                        <input id="newPassword" name="newPassword" class="form-control required" type="text">
                        <span class="help-block"></span>
                    </div>
				</div>
				<div class="row">
					<div class="col-sm-6 col-md-6">
                        <label>
							确认密码：<span class="f_req">*</span>
                        </label>
                        <input id="reNewPassword" name="reNewPassword" class="form-control required" type="text">
                        <span class="help-block"></span>
                    </div>
				</div>
            </div>       
            <div class="form-actions">
                <button class="btn btn-default" type="submit">提交</button>
                <button class="btn btn-default" type="reset">重置</button>
                <button class="btn btn-default" type="button" onclick="javascript:history.back();">返回</button>
            </div>
        </form>
    </div>
</div>
</div>