
#set($menuParent = "sale")
#set($menu = "sale_customer_add")

<div id="jCrumbs" class="breadCrumb module">
    <div style="overflow:hidden; position:relative; width: 1299px;"><div><ul style="width: 5006px;">
        <li class="first">
            <a href="#">
                <i class="glyphicon glyphicon-home"></i>
            </a>
        </li>
        <li>
            <a href="#">销售管理</a>
        </li>
        <li>
            <a href="#">客户</a>
        </li>
        <li class="last">添加</li>
    </ul></div></div>
</div>
<div class="container">
<div class="row">
    <div class="col-sm-offset-3 col-sm-6 col-md-offset-3 col-md-6">
		<form name="Form" class="form-horizontal form_validation_ttip" action="$homeModule.getTarget("customer/insert.html")" novalidate="novalidate">
    		<h3 class="heading">基本信息</h3>
			<fieldset>
		
				<div class="form-group">
					<label for="" class="control-label col-sm-2"><span class="f_req">*</span>名称</label>
					<div class="col-sm-8">
						<input id="" name="name" class="input-xlarge form-control" value="" type="text">
					</div>
				</div>
				<div class="form-group">
					<label for="" class="control-label col-sm-2">单位电话</label>
					<div class="col-sm-8">
						<input id="" name="officePhone" class="input-xlarge form-control" value="" type="text">
					</div>
				</div>
				<div class="form-group">
					<label for="" class="control-label col-sm-2">联系人</label>
					<div class="col-sm-8">
						<input id="" name="contact" class="input-xlarge form-control" value="" type="text">
					</div>
				</div>
				<div class="form-group">
					<label for="" class="control-label col-sm-2">联系电话 </label>
					<div class="col-sm-8">
						<input id="" name="contactPhone" class="input-xlarge form-control" value="" type="text">
					</div>
				</div>
			</fieldset>
			
			<h3 class="heading">更多信息</h3>
			<fieldset>
				<div class="form-group">
					<label for="" class="control-label col-sm-2">传真</label>
					<div class="col-sm-8">
						<input id="" name="fax" class="input-xlarge form-control" value="" type="text">
					</div>
				</div>
				<div class="form-group">
					<label for="" class="control-label col-sm-2">邮箱</label>
					<div class="col-sm-8">
						<input id="" name="email" class="input-xlarge form-control" value="" type="text">
					</div>
				</div>
				<div class="form-group">
					<label for="" class="control-label col-sm-2">邮编</label>
					<div class="col-sm-8">
						<input id="" name="postcode" class="input-xlarge form-control" value="" type="text">
					</div>
				</div>
				<div class="form-group">
					<label for="" class="control-label col-sm-2">QQ</label>
					<div class="col-sm-8">
						<input id="" name="qq" class="input-xlarge form-control" value="" type="text">
					</div>
				</div>
				<div class="form-group">
					<label for="" class="control-label col-sm-2">地址</label>
					<div class="col-sm-8">
						<input id="" name="address" class="input-xlarge form-control" value="" type="text">
					</div>
				</div>
				<div class="form-group">
					<label for="" class="control-label col-sm-2">备注</label>
					<div class="col-sm-8">
						<input id="" name="remark" class="input-xlarge form-control" value="" type="text">
					</div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-8 col-sm-offset-2">
						<button class="btn btn-default" type="submit">增加 </button>
						##<button class="btn btn-link">Cancel</button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>

#define($scriptHtml)

<script src="$!homeModule.getTarget("main/business/sale/customer-add.js")" />

#end