body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:665px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:210px;
  top:71px;
  width:455px;
  height:589px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:455px;
  height:589px;
}
#u1 {
  position:absolute;
  left:2px;
  top:286px;
  width:451px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:230px;
  top:255px;
  width:240px;
  height:45px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:45px;
}
#u3 {
  position:absolute;
  left:2px;
  top:14px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
