body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1260px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:27px;
  top:60px;
  width:1233px;
  height:463px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1233px;
  height:463px;
}
#u1 {
  position:absolute;
  left:2px;
  top:224px;
  width:1229px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:44px;
  top:68px;
  width:136px;
  height:40px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:1005px;
  top:118px;
  width:246px;
  height:40px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:242px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:1009px;
  top:351px;
  width:165px;
  height:169px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:169px;
}
#u7 {
  position:absolute;
  left:2px;
  top:76px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:125px;
  top:410px;
  width:45px;
  height:20px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
}
#u9 {
  position:absolute;
  left:2px;
  top:2px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:134px;
  top:440px;
  width:36px;
  height:29px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:29px;
}
#u11 {
  position:absolute;
  left:2px;
  top:6px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:52px;
  top:119px;
  width:132px;
  height:29px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:29px;
}
#u13 {
  position:absolute;
  left:2px;
  top:6px;
  width:128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:1006px;
  top:348px;
  width:175px;
  height:169px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:169px;
}
#u15 {
  position:absolute;
  left:2px;
  top:76px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:1146px;
  top:350px;
  width:105px;
  height:173px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:173px;
}
#u17 {
  position:absolute;
  left:2px;
  top:78px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
