<?xml version='1.0' encoding='GBK' ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="CONSOLE-DEBUG" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%7r] %6p - %30.30c - %m \n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="INFO" />
		</filter>
	</appender>
	<appender name="CONSOLE-INFO" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%7r] %6p - %30.30c - %m \n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="INFO" />
		</filter>
	</appender>

    <category name="java.sql" additivity="false">
		<priority value="error" />
		<appender-ref ref="FILE-SQL" />
		<appender-ref ref="CONSOLE-DEBUG" />
		<appender-ref ref="FILE-ALL" />
	</category>
	<category name="org.apache.velocity" additivity="false">
		<priority value="INFO" />
		<appender-ref ref="FILE-VELOCITY" />
		<appender-ref ref="FILE-ALL" />
	</category>
	<category name="com.sohu.service" additivity="true">
		<priority value="INFO" />
		<!--<appender-ref ref="CONSOLE-DEBUG" />
		<appender-ref ref="FILE-ALL" />-->
		<appender-ref ref="FILE-ERROR" />
	</category>
	<category name="com.sohu.kafka" additivity="false">
		<priority value="INFO" />
		<appender-ref ref="FILE-INTERFACE" />
	</category>
	<category name="com.opensymphony.xwork2" additivity="false">
		<priority value="ERROR" />
		<appender-ref ref="FILE-ALL" />
	</category>
	<category name="org.apache.cxf.interceptor" additivity="false">
		<priority value="ERROR" />
		<appender-ref ref="FILE-ALL" />
	</category>
<!--    <category name="com.sohu.mrd.autodeploy.web.interceptor" additivity="false">
        <priority value="INFO" />
        <appender-ref ref="FILE-ACTION" />
    </category>-->
    <category name="com.sohu.action" additivity="false">
        <priority value="INFO" />
        <appender-ref ref="FILE-ACTION" />
    </category>
    <category name="MRDRECOM_TIMETASK" additivity="true">
        <priority value="INFO" />
        <appender-ref ref="FILE-TIMETASK" />
    </category>

	<root>
		<priority value="INFO" />
		<appender-ref ref="CONSOLE-INFO" />
		<appender-ref ref="FILE-ALL" />
	</root>



<!-- #####################IBATIS SQL DEBUG BEGIN################################ -->

<appender name="IBatis" class="org.apache.log4j.ConsoleAppender">   
 <layout class="org.apache.log4j.PatternLayout">   
    <param name="ConversionPattern" value="%-4r [%t] %-5p %c %x - %m%n" />   
 </layout>   
   <filter class="org.apache.log4j.varia.LevelRangeFilter">   
      <param name="LevelMin" value="DEBUG" />   
      <param name="LevelMax" value="DEBUG" />   
   </filter>  
</appender>   
<logger name="org.ibatis" additivity="true">   
   <level value="DEBUG" />    
</logger>   
<logger name="java.sql.Connection" additivity="true">   
   <level value="DEBUG" />   
</logger>   
<logger name="java.sql.Statement" additivity="true">   
   <level value="DEBUG" />   
</logger>   
<logger name="java.sql.PreparedStatement" additivity="true">   
   <level value="DEBUG" />   
   <appender-ref ref="IBatis" />   
</logger>   
<logger name="java.sql.ResultSet" additivity="true">   
   <level value="DEBUG" />   
   <appender-ref ref="IBatis" />   
</logger>   

<!-- #####################IBATIS SQL DEBUG END################################ -->	

</log4j:configuration>