<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-autowire="byName">
    <!--自动时间程序，任务配置 start-->
    <bean id="channelTaskManagerService" class="com.sohu.service.timetask.impl.ChannelTaskManagerServiceImpl" />

    <bean name="schedulerMap" class="java.util.HashMap">
        <constructor-arg>
            <map>
            </map>
        </constructor-arg>
    </bean>
</beans>